body {
    font-size: 24px;
}
* {
    box-sizing: border-box;
    margin: 0;
}
.title::before {
    content: "";
    height: 5px;    
    width: 180px;
    background: #000000;
    position: absolute;
    top: 215px;
    left: 5px;
}
