*{
    margin: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    background-color: aquamarine;
    height: fit-content;
    border: 1px black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 100px;
    width: 100px;
    border: 1px black;
    border-radius: 5px;
}